#kang1{
    color: rgb(23, 73, 122);
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
    margin:auto;
}
/* #kang2{
    border:2px;
    color:black;
    width:1px;
    cellspacing:0px;

} */